// color
$primary: #79ccff;
$mode-dark: #4d4d4d;
$mode-light: #f4f4f4;

// Neutral colors: 中性色
$white: #f7f9fb;
$light: #f2f7fa;
/* 偏藍的灰會給人比較乾淨的感覺 */
$light-gray: #e7ebee;
$gray: #c8cacc;
$dark-gray: #a9acad;
$deep-gray: #828486;
$charcoal: #393a3a;
$black: #0a0a0a;