@use "../variables/" as*;
// 混用
// 玻璃擬態
@mixin glassmorphism {
    background-image: linear-gradient(to bottom right, rgba(255,255,255,.4)
    rgba(255,255,255,.7));
    border: 2px solid rgba(255,255,255,.4);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px rgba(0,0,0,.2),
        inset -1px -1px 1px rgba(255,255,255,.4);
}