* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #ecb1da;
    text-align: center;
    position: sticky;
    /* 吸住某位置 */
    top: 0;
    /* 吸住的位置在哪裡 */
}

nav ul {
    line-height: 100px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;

}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}